<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peramdy.dao.master.StudentDao">
    <select id="queryStudentInfo" parameterType="java.lang.Integer" resultType="com.peramdy.entity.Student">
      SELECT * FROM  student  s WHERE  s.id=#{id}
    </select>

    <insert id="addStuInfo" parameterType="com.peramdy.entity.Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student (stuName,classId) VALUES(#{stuName},#{classId})
    </insert>

    <update id="updateTokenById">
        UPDATE student s SET s.token=#{token},s.updateTime=NOW() WHERE s.id=#{stuId}
    </update>

    <select id="queryStuIdByToken" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT s.id FROM student s WHERE s.token=#{token}
    </select>

</mapper>